// COMPONENTS
@import "../Components/containers";

.wide-container {
    @extend %wide-container;
}

.half-col {
    @extend %half-col;
}

.colour-scheme {
    @extend %colour-scheme;
}

.ctn-main {
    padding: 9px 18px;
}

.attn-links {
    @extend %attn-links;
}

.ctn-secondary {
    background: url('/Images/Banners/chameleon.jpg') no-repeat center;
    background-size: cover;
    height: 100%;

    > div {
        overflow: hidden;
        height: 100%;
        z-index: 2;
    }
}
