// COMPONENTS 
@import "../Components/breakpoints";
@import "../Components/mobile";

.website-header {
    @include mobile-bp( $max-width, $small-breakpoint ) {
        padding-top: 104px;
    }

    padding-top: 64px;
    padding-bottom: 18px;

    h1 {
        @include mobile-bp( $max-width, $small-breakpoint ) {
            font-size: 6.5vh;
        }
        font-size: 7vh;
        margin: 20px 0;
    }

    img {
        border-radius: 60px;
        width: 70px;
    } 
}