// COMPONENTS
@import "../Components/text";
@import "../Components/breakpoints";
@import "../Components/mobile";

h1, h2, h3 {
    font-weight: 700;
    font-family: $heading-font;
}

h2, h3{
    @include mobile-bp( $max-width, $small-breakpoint ) {
       font-size: 5.5vh;
    }
    font-size: 6vh;
}

body {
    @include mobile-bp( $max-width, $small-breakpoint )  {
       font-size: 18px;
    }
    font-size: 20px;
    font-family: $body-font;
}
